{% extends 'log/base.html' %}

{% block page_header %}
  <h3>{{ topic }}</h3>
{% endblock page_header %}

{% block page_content %}
  <p>Topic: {{ topic }}</p>
  
  <p>Entries</p>
  <p>
    <a href="{% url 'log:new_entry' topic.id %}">Add new entry</a>
  </p>
  <ul>
    {% for entry in entries %}
    <div class="card mb-3">
      <h4 class="card-header">
       {{ entry.date_added|date:'M d, Y H:i' }}
       <small><a href="{% url 'log:edit_entry' entry.id %}">
        edit entry</a></small>
       </h4>
       <div class="card-body">
       {{ entry.text|linebreaks }}
       </div>
      </div>
    {% empty %}
        <li>No entries yet</li>
    {% endfor %}
  </ul>

{% endblock page_content %}